<div id="schedule-container" class="container">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary my-4" data-toggle="modal" data-target="#gamesModal">
      Alter Games
    </button>

    <h1>Games:</h1>
    <div class="list-group">
        {% for r in rows %}
            <div class="list-item">
                <a data-toggle="collapse" aria-expanded="false" href="#collapse{{r[0]}}v{{r[1]}}at{{r[3]}}" class="list-group-item list-group-item-action">
                    ({{r[0]}}) {{r[1]}} vs {{r[2]}} - {{r[4]}}
                </a>
                <div class="collapse ml-3" id="collapse{{r[0]}}v{{r[1]}}at{{r[3]}}">
                    <div class="card card-body">
                        Teams:
                        <ul>
                            <li>{{r[1]}}</li>
                            <li>{{r[2]}}</li>
                        </ul>

                        Game Start Time: {{r[3]}}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="gamesModal" tabindex="-1" role="dialog" aria-labelledby="gamesModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Alter Games</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/games" method="post" id="gameAdd" class="my-2 p-2 border border-dark rounded">
              <div class="form-group">
                  <div class="font-weight-bold">Add Game</div>
                  <div class="d-inline-flex">
                      <div class="ml-1">
                          <label for="teamAdd1">Team #1</label>
                          <select class="form-control" id="teamAdd1" name="teamAdd1">
                              {%  for d in data %}
                                  <option value="{{ d[0] }}">{{ d[1] }}</option>
                              {% endfor %}
                          </select>
                      </div>

                      <div class="ml-1">
                          <label for="teamAdd2">Team #2</label>
                          <select class="form-control" id="teamAdd2" name="teamAdd2">
                              {%  for d in data %}
                                  <option value="{{ d[0] }}">{{ d[1] }}</option>
                              {% endfor %}
                          </select>
                      </div>
                  </div>
                  <div class="ml-1">
                        <label for="addDate">Game Date</label>
                        <input type="datetime-local" class="form-control w-50" id="addDate" name="addDate">
                  </div>
              </div>
            </form>

            <form action="/games" method="post" id="gameUpdate" class="my-2 p-2 border border-dark rounded">
                <div class="form-group p-1">
                    <div class="font-weight-bold">Update Games</div>
                    <div class="ml-2 mb-2 small">Only add Game ID to remove the game</div>
                    <label for="gameID">Game ID</label>
                    <select class="form-control w-50" id="gameID" name="gameID">
                        {%  for r in rows %}
                            <option value="{{ r[0] }}">{{r[1]}} vs {{r[2]}} - {{r[4]}}</option>
                        {% endfor %}
                    </select>

                    <div class="d-inline-flex">
                        <div>
                            <label for="teamUpdate1">Team #1</label>
                            <select class="form-control" id="teamUpdate1" name="teamUpdate1">
                                {%  for d in data %}
                                    <option value="{{ d[0] }}">{{ d[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="ml-1">
                            <label for="teamUpdate2">Team #2</label>
                            <select class="form-control" id="teamUpdate2" name="teamUpdate2">
                                {%  for d in data %}
                                    <option value="{{ d[0] }}">{{ d[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </form>
          </div>

            <div class="modal-footer">
                <button type="submit" name="action" value="add" form="gameAdd" class="btn btn-primary mr-auto">Add</button>
                <button type="submit" name="action" value="update" form="gameUpdate" class="btn btn-primary">Update</button>
                <button type="submit" name="action" value="remove" form="gameUpdate" class="btn btn-danger">Remove</button>
            </div>
        </div>
      </div>
    </div>
</div>