<div id="infraction-container" class="container">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary my-4" data-toggle="modal" data-target="#infractionModal">
      Alter Infractions
    </button>

    <h1>Infractions (Player Penalties):</h1>
    <div class="list-group">
        {% for r in rows %}
            <div class="list-item">
                <div href="#" class="list-group-item list-group-item-action">
                    ({{r[0]}}) {{ r[5] }} penalty on {{ r[1] }} {{ r[2] }}  #{{ r[3] }} (team {{ r[4] }})
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="infractionModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Alter Infractions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/infractions" method="post" id="infractionAdd" class="my-2 p-2 border border-dark rounded">
                        <div class="form-group">
                            <div class="font-weight-bold">Add Infractions</div>
                            <div class="d-inline-flex">
                                <div class="ml-1">
                                    <label for="infractionPlayerID">Player</label>
                                    <select class="form-control" id="infractionPlayerID" name="infractionPlayerID">
                                        {% for d in data %}
                                            <option value="{{ d[0] }}">{{ d[1] }} {{ d[2] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="ml-1">
                                    <label for="infractionPenaltyID">Penalty</label>
                                    <select class="form-control" id="infractionPenaltyID" name="infractionPenaltyIDs">
                                        {% for d in data2 %}
                                            <option value="{{ d[0] }}">{{ d[1] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form action="/infractions" method="post" id="infractionUpdate" class="my-2 p-2 border border-dark rounded">
                        <div class="form-group p-1">
                            <div class="font-weight-bold">Update Infraction</div>
                            <div class="ml-2 mb-2 small">Only add Infraction ID to remove the team</div>
                            <label for="infractionID">Infraction ID</label>
                            <select class="form-control w-50" id="infractionID" name="infractionID">
                                {% for r in rows %}
                                    <option value="{{ r[0] }}">{{ r[5] }}: {{ r[1] }} {{ r[2] }}</option>
                                {% endfor %}
                            </select>
                            <div>
                                <label for="infractionUpdatePenalty">New Penalty ID</label>
                                <select class="form-control w-50" id="infractionUpdatePenalty" name="infractionUpdatePenalty">
                                    {% for d in data2 %}
                                        <option value="{{ d[0] }}">{{ d[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="action" value="add" form="infractionAdd" class="btn btn-primary mr-auto">Add</button>
                    <button type="submit" name="action" value="update" form="infractionUpdate" class="btn btn-primary">Update</button>
                    <button type="submit" name="action" value="remove" form="infractionUpdate" class="btn btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>