<div id="team-container" class="container">

    <!-- Button trigger modal -->
    <div class="d-flex flex-row my-4">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#teamsSearchModal">
          Search Teams
        </button>

        <button type="button" class="btn btn-primary ml-4" data-toggle="modal" data-target="#teamsModal">
          Alter Teams
        </button>
    </div>

    <h1>Teams:</h1>
    <div class="list-group">
        {% for r in rows %}
            <div class="list-item">
                <a href="#" class="list-group-item list-group-item-action">
                    ({{r[0]}}) {{r[1]}}
                </a>
            </div>
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="teamsModal" tabindex="-1" role="dialog" aria-labelledby="gamesModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Alter Teams</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/teams" method="post" id="teamAdd" class="my-2 p-2 border border-dark rounded">
                        <div class="form-group">
                            <div class="font-weight-bold">Add Team</div>
                            <div class="d-inline-flex">
                                <div class="ml-1">
                                    <label for="teamName">Team Name</label>
                                    <input type="text" class="form-control" id="teamName" name="teamName">
                                </div>
                            </div>
                        </div>
                    </form>

                    <form action="/teams" method="post" id="teamUpdate" class="my-2 p-2 border border-dark rounded">
                        <div class="form-group p-1">
                            <div class="font-weight-bold">Update Teams</div>
                            <div class="ml-2 mb-2 small">Only add Team ID to remove the team</div>
                            <label for="teamID">Team ID</label>
                            <select class="form-control w-50" id="teamID" name="teamID">
                                {% for r in rows %}
                                    <option value="{{ r[0] }}">{{ r[1] }}</option>
                                {% endfor %}
                            </select>
                            <div>
                                <label for="teamUpdateName">New Team Name</label>
                                <input type="text" class="form-control w-50" id="teamUpdateName" name="teamUpdateName">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="action" value="add" form="teamAdd" class="btn btn-primary mr-auto">Add</button>
                    <button type="submit" name="action" value="update" form="teamUpdate" class="btn btn-primary">Update</button>
                    <button type="submit" name="action" value="remove" form="teamUpdate" class="btn btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="teamsSearchModal" tabindex="-1" role="dialog" aria-labelledby="teamsSearchModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Search by Team Name</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/teams" method="get" id="teamSearch">
              <div class="form-group">
                <label for="searchTeam">Search</label>
                <input type="text" class="form-control" id="seachTeam" name="searchTeam">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" name="action" value="search" form="teamSearch" class="btn btn-primary">Search</button>
          </div>
        </div>
      </div>
    </div>
</div>
